*{
    margin: 0px;
    
}

.todo{
   margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.todo-items{
    
    width: 500px;
    height: 500px;
    display: flex;
    
    border: 2px solid black;
    margin-left: 40%;
}

.text-area{
    height: 80px;
    width: 100px;
    border: 2px solid black;

}

.date-selector{
    height: 80px;
    width: 100px;
}
.btn{
    height: 80px;
    width: 100px;
}