*{
    margin: 0px;
    
}
.container{
    margin-top: 20px;
    width: 400px;
    border-radius: 2px solid black;
    
}

#todo{
   text-align: center;
}

#text-area , #date-selector{
    font-size: 15px;
    padding: 10px 5px;
}

.date-selector{
    margin: 20px;
    height: 40px;
    width: 100px;
}

.btn{
    
    color: aliceblue;
    border: none;
    border-radius: 7px;
    padding: 15px 0px;
    background-color: green;
   
    cursor: pointer;
}

.dltBtn{
    font-size: medium;
    color: aliceblue;
    border: none;
    border-radius: 7px;
    padding: 15px 0px;
    background-color: rgb(190, 15, 15);
    cursor: pointer;
}
.grid-container{
    align-items: center;
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
}